/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Varela+Round&display=swap');
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0072c6;
  --ifm-color-primary-dark: #00508b;
  --ifm-color-primary-darker: #003963;
  --ifm-color-primary-darkest: #00223b;
  --ifm-color-primary-light: #0294ff;
  --ifm-color-primary-lighter: #2aa5ff;
  --ifm-color-primary-lightest: #52b5ff;
  --ifm-font-color-base: var(--ifm-color-secondary-darkest);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Varela Round';
  --ifm-font-family-monospace: 'Open Sans';
  --home-text-color: #333333;
}


.menu__list-item {
  margin: 0 !important;
}

.menu__link--sublist::after{
  /*content: '';*/
  height: 13px !important;
  width: 13px;
}

.header-home {
  height: 60vh;
}

* {
  font-family: 'Varela Round', sans-serif;
}

.menu {
  font-size: 14px !important;
}

.markdown h1:first-child {
  margin-top: 10px;
  margin-bottom: 25px;
}
.markdown h2 {
  margin-bottom: 20px;
}
.markdown h3 {
  margin-bottom: 10px;
}

div code-block{ 
  margin-top: 20px;
}

.margin-top--none {
  margin-top: 0 !important;
}

.margin-left--xs {
  margin-left: 0.25rem !important;
}

.padding-vert--md {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.padding--lg {
  padding: 2rem !important;
}

h1 {
  margin: 0 auto;
  font-family: 'Varela Round',sans-serif;
  font-size: 44px;
  line-height: 48px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  text-transform: none;
  margin-bottom: 25px !important;
  margin-top: 10px !important;
  color: #333333;
}

h2 {
  display: block;
  width: auto;
  font-family: 'Varela Round',sans-serif;
  color: #333333;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: normal;
}

h3 {
  font-family: 'Varela Round';
  font-size: 20px;
  font-weight: 500;
  color: #333333;
 
}

/* h4 {
  font-family: 'Varela Round';
  font-size: 14px;
  font-weight: 400;
  color: #9ba4af;
} */

p {
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #333333;
  margin-bottom: 10px !important;
  opacity: 60%;
}

a {
  text-decoration: none !important;
}

.home-h1{
  font-weight: 300;
  color: var(--home-text-color);
}

.home-p {
  color: rgb(170, 169, 169);
}

html[data-theme='light'] h1{
  color:#333333;
}

html[data-theme='dark'] h1{
  color: #fff;
}

html[data-theme='dark'] h2{
  color: #fff;
  background-color: transparent;
}
html[data-theme='dark'] h3{
  color: #fff;
  background-color: transparent;
}
html[data-theme='dark'] p{
  color: #fff;
  background-color: transparent;
  opacity: 80%;
}

a:hover {
  color: rgb(26, 26, 26);
}

html[data-theme='dark'] a:hover {
  color: #fff !important;
}

html[data-theme='dark'] .skills_src-pages-:hover {
  transform: scale(0.95) !important;
}

.token-line {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar-item {
  color: #797979;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase
}


img[alt=small] { width: 30%;}

img[alt=crafted-love]{ width: 250px;} 

img[alt=img-box-shadow]{ 
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey; 
  border-radius: 5px;
}

img[alt=img-box-shadow-200]{ 
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey; 
  border-radius: 5px;
  width: 200px;
}

img[alt=img-symbol-box-shadow]{ 
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey; 
  border-radius: 5px;
  width: 30px;
}

img[alt=img-box-shadow-sm]{ 
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey; 
  border-radius: 5px;
  width: 250px;
}

img[alt=img-with-border]{
  border: 1px solid lightgray;
  border-radius: 5px;
}

.left {
  animation: right-to-left 1s linear forwards;
}

@keyframes right-to-left {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
figure {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

figure p {
  margin-bottom: 0;
}

.row {
  margin-bottom: 1.6rem;
}

.footer__links {
  animation: left-to-right 1s linear forwards;
  font-size: 14px;
}

html[data-theme='dark'] .footer{
  --ifm-footer-background-color: #333;
  --ifm-footer-color: #fff;
}

html[data-theme='light'] .footer{
  background-image: linear-gradient(rgb(243, 248, 255), rgb(243, 248, 255));
}

html[data-theme='light'] .footer__copyright {
  padding-top: 15px;
  border-top: 1px solid rgb(226, 239, 248);
}
html[data-theme='dark'] .footer__copyright {
  padding-top: 15px;
  border-top: 1px solid #e2eff81c;
}

html[data-theme='dark'] .hero__title {
  color: #fff;
}

.footer__col {
  display: flex !important;
  justify-content: left;
}

.footer__col {
  display: flex !important;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left !important;
  height: 200px !important;
}

.footer__title {
  height: 20%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

html[data-theme='light'] .footer__title{
  color: rgb(26, 26, 26);
}

html[data-theme='dark'] .footer__title{
  color: #fff;
}

.footer__items {
  height: 80%;  
}

footer li a {
  color: rgb(155, 164, 175) !important;
}

footer li a:hover {
  text-decoration: none;
  color: rgb(26, 26, 26) !important;
}

.footer__copyright{
  color:rgb(155, 164, 175);
  font-size: 14px;
  text-align: left;
}

.javascript {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.pagination-nav__link {
  border: none;
  flex-grow: 1;
  padding: var(--ifm-global-spacing);
  line-height: var(--ifm-heading-line-height);
  transition: border-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

/* Algolia Search here*/
html[data-theme='light'] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base); 
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
  --home-text-color: black;
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  /* --home-text-color: var(--home-text-color: #fff; */
}

/* Custom Table */

.custom-table {
  box-sizing: border-box;
  border: 1px solid #e4e4eb;
  border-radius: 5px  !important;
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e4e4eb;
  font-size: 14px;
}

.custom-table tr {
  background-color: transparent !important;
  border-bottom: 1px solid #e4e4eb;
  color: #49495f
}

.selected:hover {
  background-color: rgb(240, 240, 240) !important;
}

.custom-table th, .custom-table td {
  border: 0;
  text-align: center;
} 

.custom-table tbody td code {
  background-color: rgba(62,123,250,.06);
  border-radius: 5px;
  padding: 3px 5px;
}
