/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Varela+Round&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0072c6;
  --ifm-color-primary-dark: #00508b;
  --ifm-color-primary-darker: #003963;
  --ifm-color-primary-darkest: #00223b;
  --ifm-color-primary-light: #0294ff;
  --ifm-color-primary-lighter: #2aa5ff;
  --ifm-color-primary-lightest: #52b5ff;
  --ifm-font-color-base: var(--ifm-color-secondary-darkest);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Varela Round';
  --ifm-font-family-monospace: 'Open Sans';
  --home-text-color: #333333;
  --docusaurus-highlighted-code-line-bg: rgb(215, 215, 215);
}


figcaption {
  color: #86C5FF;
  margin-bottom: 20px;
  margin-top: 10px;
}


.pagination-nav__label {
  color: #333;
}

span.token.constant {
  color: #57c7fa !important;
}
span.token.function {
  color: #57c7fa !important;
}
span.token.method.function.property-access {
  color: #57c7fa !important;
}
.span.token.known-class-name.class-name {
  color: #F7D44B !important;
}
span.token.parameter.known-class-name.class-name {
  color: #F7A452 !important;
}
span.token.punctuation {
  color: #9D53F2 !important;
}
span.token.parameter.punctuation {
  color: #9D53F2 !important;
}
span.token.parameter.operator {
  color: #4899EA !important;
}
span.token.operator {
  color: #4899EA !important;
}
span.token.arrow.operator {
  color: #4899EA !important;
}
span.token.comment {
  color: #999999 !important;
}


/* .codeBlockLines_node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock-Content-styles-module {
  background: #efefef;
} */


.menu__list-item {
  margin: 0 !important;
}

.menu__link--sublist::after {
  /*content: '';*/
  height: 13px !important;
  width: 13px;
}

.header-home {
  height: 60vh;
}

.buttons_src-pages-styles-module {
  margin-top: 30px;
}


* {
  font-family: 'Varela Round', sans-serif;
}

.menu {
  font-size: 15px !important;
}

.markdown h1:first-child {
  margin-top: 10px;
  margin-bottom: 25px;
}

.markdown h2 {
  margin-bottom: 20px;
}

.markdown h3 {
  margin-bottom: 10px;
}

div code-block {
  margin-top: 20px;
}

.margin-top--none {
  margin-top: 0 !important;
}

.margin-left--xs {
  margin-left: 0.25rem !important;
}

.padding-vert--md {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.padding--lg {
  padding: 2rem !important;
}

h1 {
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  text-transform: none;
  margin-bottom: 20px !important;
  margin-top: 15px !important;
  color: #333333;
}

h2 {
  display: block;
  width: auto;
  font-family: 'Varela Round', sans-serif;
  color: #0072C6;
  font-size: 28px;
  font-weight: 600 !important;
  letter-spacing: 0.15px;
  white-space: normal;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

h3 {
  font-family: 'Open Sans', sans-serif !important;
  font-style: bold;
  font-size: 18px;
  color: #0072C6;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}


p {
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #333;
  margin-bottom: 5px !important;
}

dl {
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #333;
}

dt {
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #333;
}

.markdown li {
  font-size: 14px;
}

.markdown ul {
  font-size: 14px;
  color: #333;
}

.markdown ol {
  font-size: 14px;
  color: #333;
}

.hidden {
  display: none !important;
}

/* ol {
  list-style: none;
  counter-reset: item;
  font-size: 14px;
  color: #333;
}

ol li {
  counter-increment: item; 
  margin-bottom: 5px;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

ol li:before {
  margin-right: 10px;
  content: counter(item); 
  background: #86C5FF;
  border-radius: 100%;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  align-items: baseline;
}  */

a {
  text-decoration: none !important;
}

hr {
  background-color: #EBEBEB;
}



.home-h1 {
  font-weight: 300;
  color: var(--home-text-color);
  margin-bottom: 15px !important;
}

.home-p {
  color: #333;
  font-size: 16px !important;
}

html[data-theme='light'] h1 {
  color: #333333;
}

html[data-theme='dark'] h1 {
  color: #fff;
}

html[data-theme='dark'] h2 {
  color: #fff;
  background-color: transparent;
}

html[data-theme='dark'] h3 {
  color: #fff;
  background-color: transparent;
}

html[data-theme='dark'] p {
  color: #fff;
  background-color: transparent;
}

/* Caso esteja ativo estraga o dropdown da seleção de lingua no dark theme
html[data-theme='dark'] ul {
  color: #fff;
  background-color: transparent;
  font-size: 14px;
} */

html[data-theme='dark'] li {
  color: #fff;
  background-color: transparent;
  font-size: 14px;
}


/* Home Image */
html[data-theme='dark'] .home-page-image {
  background-image: url(/img/home/homepage-dark.jpg);
}

.home-page-image {
  background-image: url(/img/home/homepage-light.jpg);
  margin-bottom: 40px;
}

html[data-theme='dark'] a:hover {
  color: #fff !important;
}

html[data-theme='dark'] .skills_src-pages-:hover {
  transform: scale(0.95) !important;
}

.token-line {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar-item {
  color: #797979;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase
}

.theme-admonition {
  margin-top: 15px ;
  margin-bottom: 25px !important;
}

img[alt=small] {
  width: 30%;
}

img[alt=crafted-love] {
  width: 250px;
}

img[alt=img-box-shadow] {
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey;
  border-radius: 5px;
}

img[alt=img-box-shadow-200] {
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 200px;
}

img[alt=img-symbol-box-shadow] {
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 30px;
}

img[alt=img-box-shadow-sm] {
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 250px;
}

img[alt=img-box-shadow-popup] {
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 20%);
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 780px;
}

img[alt=img-with-border] {
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-bottom: 10px !important;
  margin-top: 0px;
}


.left {
  animation: right-to-left 1s linear forwards;
}

@keyframes right-to-left {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

figure {
  margin: 0;
  text-align: center;
}

figure p {
  margin-bottom: 0px !important;
  margin-top: 5px !important;
}

.row {
  margin-bottom: 1.6rem;
}

.footer__links {
  animation: left-to-right 1s linear forwards;
  font-size: 14px;
}

html[data-theme='dark'] .footer {
  --ifm-footer-background-color: #333;
  --ifm-footer-color: #fff;
}

html[data-theme='light'] .footer {
  background-image: linear-gradient(rgb(243, 248, 255), rgb(243, 248, 255));
}

html[data-theme='light'] .footer__copyright {
  padding-top: 15px;
  border-top: 1px solid rgb(226, 239, 248);
}

html[data-theme='dark'] .footer__copyright {
  padding-top: 15px;
  border-top: 1px solid #e2eff81c;
}

html[data-theme='dark'] .hero__title {
  color: #fff;
}

.footer__col {
  display: flex !important;
  justify-content: left;
}

.footer__col {
  display: flex !important;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left !important;
  height: 200px !important;
}

.footer__title {
  height: 20%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

html[data-theme='light'] .footer__title {
  color: rgb(26, 26, 26);
}

html[data-theme='dark'] .footer__title {
  color: #fff;
}

.footer__items {
  height: 80%;
}

footer li a {
  color: rgb(155, 164, 175) !important;
}

footer li a:hover {
  text-decoration: none;
  color: rgb(26, 26, 26) !important;
}

.footer__copyright {
  color: rgb(155, 164, 175);
  font-size: 14px;
  text-align: left;
}

.javascript {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.pagination-nav__link {
  border: none;
  flex-grow: 1;
  padding: var(--ifm-global-spacing);
  line-height: var(--ifm-heading-line-height);
  transition: border-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

/* Algolia Search here*/
html[data-theme='light'] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
  --home-text-color: black;
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg,
      var(--ifm-color-emphasis-200) 0%,
      var(--ifm-color-emphasis-100) 100%);
  /* --home-text-color: var(--home-text-color: #fff; */
}

/* Custom Table */

table {
  box-sizing: border-box;
  border: 1px solid #e4e4eb;
  border-radius: 5px !important;
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e4e4eb;
  font-size: 14px;
}

table .selected:hover {
  background-color: rgb(240, 240, 240) !important;
}


table tr {
  background-color: transparent !important;
  border-bottom: 1px solid #e4e4eb;
  color: #49495f
}

.selected:hover {
  background-color: rgb(240, 240, 240) !important;
}

table th,
table td {
  border: 0;
  text-align: center;
}

table tbody td code {
  background-color: rgba(62, 123, 250, .06);
  border-radius: 5px;
  padding: 3px 5px;
}


.small-custom-table {
  box-sizing: border-box;
  border: 1px solid #e4e4eb;
  border-radius: 5px !important;
  display: table;
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e4e4eb;
  font-size: 14px;
}


.small-custom-table tr {
  background-color: transparent !important;
  border-bottom: 1px solid #e4e4eb;
  color: #49495f
}

.selected:hover {
  background-color: rgb(240, 240, 240) !important;
}

.small-custom-table th,
.small-custom-table td {
  border: 0;
  text-align: center;
  width: 47%
}

.small-custom-table tbody td code {
  background-color: rgba(62, 123, 250, .06);
  border-radius: 5px;
  padding: 3px 5px;
}