################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SkillsWorkflow/.vs/SkillsWorkflow/v16/.suo
/SkillsWorkflow/.vs
/.vs/Documentation-v2/v16
/.vs
/SkillsWorkflow/config.json
/ngrok.sh
