################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SkillsWorkflow/.vs/SkillsWorkflow/v16/.suo
